body {
  text-align: center;
  background: green;
}

button{
  height: 40px;
  border-radius: 10px;
  width: 100px;
  font-weight: bold;
  background-color: slateblue;
  color: white;

}

button .shuffle{
  height: 40px;
  border-radius: 10px;
  width: 100px;
  font-weight: bold;
  background-color: slateblue;
  color: white;  

}